@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth transition of theme change */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s;
}
body{
    background-color: aliceblue;
}

@media (max-width: 640px) {
    body {
        @apply text-sm;
    }
}

/* Custom-scrollbar */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: gray;
    
}
::-webkit-scrollbar-thumb {
    background-color: #072856;
    border-radius: 10px;
}

/* Auth Buttton */
.auth-button{
    @apply relative px-4 py-1 rounded-xl border border-slate-600 before:bg-slate-900/70 hover:text-white hover:shadow-[0_0_10px_gray] overflow-hidden before:absolute before:w-full before:bottom-0 before:left-0 before:z-[-99] before:h-0 hover:before:h-full before:transition-all before:duration-300 before:content-['']
}

.auth-button-dark{
    @apply before:bg-blue-900/50
}

/* Hero Card Styles */
.hero-card{
    @apply absolute h-[65%] backdrop-blur-lg bg-gradient-to-b max-lg:h-[90%] w-1/2 rounded-xl origin-bottom shadow-[0_0_15px_gray] flex items-center justify-center overflow-hidden;
}

/* creating the hover effect on landing page */
@media screen and (min-width : 720px){
    .stroke{
        -webkit-text-stroke-color: #000;
        -webkit-text-stroke-width: 2px;
        color: white;
        font-weight: 800;
        cursor: crosshair;
    }
}

.overlayGif{
    top: 0;
    transition: all linear 0.3s ;
}

/* Hover Link Effect */
.hover-effect{
    @apply before:h-[3px] before:w-0 before:absolute before:bottom-0 before:left-0 before:rounded-lg before:bg-slate-900 before:shadow-[0_0_10px_gray] before:shadow-slate-900/50 before:transition-all before:duration-500 hover:before:w-full
}
