@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth transition of theme change */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

@media (max-width: 640px) {
    body {
        @apply text-sm;
    }
}

/* Auth Buttton */
.auth-button{
    @apply relative px-4 py-1 rounded-xl border border-teal-600 before:bg-gradient-to-br before:from-blue-800/40 before:to-blue-500/80 hover:border-blue-700/80 overflow-hidden before:absolute before:w-full before:bottom-0 before:left-0 before:z-[-99] before:h-0 hover:before:h-full before:transition-all before:duration-300 before:content-['']
}